.game {
  max-width: 300px;

  .btns_container {
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .btn {
      border: 0;
      outline: 0;
      padding: 10px;
      cursor: pointer;
      font-size: 1rem;
    }

    p {
      align-self: center;
    }

    .input_container {
      display: flex;
      gap: 1rem;

      input {
        font-size: 1rem;
        padding: 8px;
        width: 100%;
      }

      .btn {
        flex-shrink: 0;
      }
    }

    .horizontal_divider{
      height: 1px;
      width: 100%;
      background-color: black;
    }
  }

  .game_info_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}
